.bot-card{
 border: 1px solid #ccc; 
 width:  33.333% - 20px; 
 margin: 5px;
 padding-left: 20px;
 margin-left: 20px;
 height: auto;
 display: block;
 float: left;
}
.your-bot-army{
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border: 1px solid black;
}
.army-card{
 display: flex;
 flex-direction: column;
 margin-left: 20px;
 margin: 10px;
 padding: 10px;
 width: 40% ;
 border: 1px solid black;
 float: top;
}